<main>
    <form id="login-form">
        <h2>Login</h2>
        <input type="text" id="username-input" name="username" placeholder="Username" />
        <input type="password" id="password-input" name="password" placeholder="Password" />
        <button type="submit">Login</button>
    </form>

    <form id="signup-form">
        <h2>Sign-up</h2>
        <input type="text" id="username-register-input" name="register-username" placeholder="Username" />
        <input type="password" id="password-register-input" name="register-password" placeholder="Password" />
        <button type="submit">Register</button>
    </form>
</main>
<script src="./js/login.js"></script>