<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com" />
</head>

<body class="bg-yellow-200 font-sans">

    <header>
        <img src="./images/plate.png" alt="fork and knife line drawing">
        <h1>Search by Cuisine</h1>
        <form id="search-form">
            <input type="text" id="search-input" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </header>

    {{!-- TODO: create if statement for restaurants or recipes --}}
    {{#if restaurants or recipes }}
        <main>
            <section class="results">
                <h2>Restaurants</h2>
                <div id="restaurants-results"></div>
            </section>

            <section class="results">
                <h2>Recipes</h2>
                <div id="recipes-results"></div>
            </section>
        </main>
    {{/if}}

</body>

</html>