body {
    background-color: #fcaf58;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    background-color: #fcaf58;
    color: #f6f5f7;
    padding: 20px;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
}


form {
    display: flex;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
}

button[type="submit"] {
    background-color: #401f3e;
    border: none;
    color: #f6f5f7;
    padding: 10px;
}


main {
    display: flex;
}

.results {
    flex-grow: 1;
    padding: 20px;
    color: #f6f5f7;
}

h2 {
    margin-top: 0;
}